<h1 mat-dialog-title>
    Informazioni su Partita Doppia
</h1>
<div mat-dialog-content>
    <div class="clearfix">
        <div class="profile-avatar no-border avatar-app">
            <a href="https://www.instagram.com/partitadoppia.app/" target="_blank">
                <img src="../../../assets/images/avatar-app.jpg" height="50" />
            </a>
            <span>
                <h2>Partita Doppia</h2>
                <a href="mailto:hello@partitadoppia.app">hello@partitadoppia.app</a>
            </span>
        </div>
    </div>

    <div class="clearfix">
        <h2>Crediti</h2>
        <div class="profile-avatar avatar-gp">
            <a href="https://www.linkedin.com/in/giulia-p-ba298a163/" target="_blank">
                <img src="../../../assets/images/avatar-gp.jpg" height="50" />
            </a>
            <span>
                <h2>Giulia Pozzati</h2>
                <a href="mailto:giulia@partitadoppia.app">giulia@partitadoppia.app</a>
            </span>
        </div>
        <div class="profile-avatar avatar-lg">
            <a href="https://www.linkedin.com/in/lorenzo-grazian-073941179/" target="_blank">
                <img src="../../../assets/images/avatar-lg.jpg" height="50" />
            </a>
            <span>
                <h2>Lorenzo Grazian</h2>
                <a href="mailto:lorenzo@partitadoppia.app">lorenzo@partitadoppia.app</a>
            </span>
        </div>
        <div class="profile-avatar avatar-pc">
            <a href="https://www.linkedin.com/in/conizzoli/" target="_blank">
                <img src="../../../assets/images/avatar-pc.jpg" height="50" />
            </a>
            <span>
                <h2>Paolo Conizzoli</h2>
                <a href="mailto:paolo@partitadoppia.app">paolo@partitadoppia.app</a>
            </span>
        </div>
    </div>

    <footer>
        <div>
            <a href="https://trello.com/b/VEBkiOIX" target="_blank">Changelog</a> /
            <a href="https://trello.com/b/aIPoGQMH" target="_blank">Tracker nuove funzionalità</a> /
            <a href="https://forms.gle/dziv2FPaihu8BQLo9" target="_blank">Suggerisci una funzionalità</a> /
            <a href="https://www.buymeacoffee.com/partitadoppia" target="_blank">Sostienici</a>
        </div>
        <div>
            Made with
            <svg style="margin-bottom: -2px;" width="14px" height="14px" role="img" aria-labelledby="heartTitle" viewBox="0 -256 1850 1850">
                <title id="heartTitle">Love</title>
                <g transform="matrix(1,0,0,-1,37.966102,1343.4237)">
                    <path fill="#3f51b5" d="m 896,-128 q -26,0 -44,18 L 228,492 q -10,8 -27.5,26 Q 183,536 145,583.5 107,631 77,681 47,731 23.5,802 0,873 0,940 q 0,220 127,344 127,124 351,124 62,0 126.5,-21.5 64.5,-21.5 120,-58 55.5,-36.5 95.5,-68.5 40,-32 76,-68 36,36 76,68 40,32 95.5,68.5 55.5,36.5 120,58 64.5,21.5 126.5,21.5 224,0 351,-124 127,-124 127,-344 0,-221 -229,-450 L 940,-110 q -18,-18 -44,-18"></path>
                </g>
            </svg> by Partita Doppia from all over the world.
        </div>
    </footer>
</div>
<mat-dialog-actions align="center">
    <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial>Chiudi</button>
</mat-dialog-actions>
