<h1 mat-dialog-title>
    Informazioni su Partita Doppia
</h1>
<div mat-dialog-content>
    <div class="clearfix">
        <h2>Contattaci</h2>
        <div class="profile-avatar no-border avatar-app">
            <a href="https://www.instagram.com/partitadoppia.app/" target="_blank">
                <img src="../../../assets/images/avatar-app.jpg" height="50" />
            </a>
            <span>
                <h2>Partita Doppia</h2>
                <a href="mailto:hello@partitadoppia.app">hello@partitadoppia.app</a>
            </span>
        </div>
    </div>

    <div class="clearfix">
        <h2>Credits</h2>
        <div class="profile-avatar avatar-gp">
            <a href="https://www.linkedin.com/in/giulia-p-ba298a163/" target="_blank">
                <img src="../../../assets/images/avatar-gp.jpg" height="50" />
            </a>
            <span>
                <h2>Giulia Pozzati</h2>
                <a href="mailto:giulia@partitadoppia.app">giulia@partitadoppia.app</a>
            </span>
        </div>
        <div class="profile-avatar avatar-lg">
            <a href="https://www.linkedin.com/in/lorenzo-grazian-073941179/" target="_blank">
                <img src="../../../assets/images/avatar-lg.jpg" height="50" />
            </a>
            <span>
                <h2>Lorenzo Grazian</h2>
                <a href="mailto:lorenzo@partitadoppia.app">lorenzo@partitadoppia.app</a>
            </span>
        </div>
        <div class="profile-avatar avatar-pc">
            <a href="https://www.linkedin.com/in/conizzoli/" target="_blank">
                <img src="../../../assets/images/avatar-pc.jpg" height="50" />
            </a>
            <span>
                <h2>Paolo Conizzoli</h2>
                <a href="mailto:paolo@partitadoppia.app">paolo@partitadoppia.app</a>
            </span>
        </div>
    </div>

    <h2>Info</h2>
    <p>Version: v0.0.1 - ⍺ (alpha)</p>
    <p>Changelog: <a href="https://www.trello.com" target="_blank">Trello</a></p>
    <p>Tracker nuove funzionalità: <a href="https://www.trello.com" target="_blank">Trello</a></p>
    <p>Suggerisci una funzionalità: <a href="https://forms.gle/dziv2FPaihu8BQLo9" target="_blank">Google Forms</a></p>
</div>
<mat-dialog-actions align="center">
    <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial>Chiudi</button>
</mat-dialog-actions>
