<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let account of tAccounts">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ account.account }}</mat-card-title>
            </mat-card-header>
            <section>
                <div *ngFor="let row of account.tAccountRows" [className]="row.give ? 'give-row' : 'take-row'">
                    <span>{{ row.give | currency }}</span>
                    <span>{{ row.take | currency }}</span>
                </div>
            </section>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
