@media print {
    :host ::ng-deep {
        button,
        mat-header-cell:last-of-type,
        mat-cell:last-of-type,
        mat-row:last-of-type,
        mat-toolbar {
            display: none;
        }

        main {
            padding: 0;
        }

        .mat-elevation-z8 {
            box-shadow: initial;
        }
    }
    @page {
        size: landscape;
    }
}
