<mat-toolbar color="primary">
    <div class="toolbar-title">
        <img src="assets/images/logo.png" width="32px">
        <span>Partita Doppia</span>
    </div>
    <div class="toolbar-credits">
        <a href="https://www.facebook.com/paritadoppiaapp" target="_blank">
            <img src="assets/images/facebook.png" alt="Facebook logo" width="21px">
        </a>

        <a href="https://www.instagram.com/partitadoppia.app" target="_blank">
            <img src="assets/images/instagram.png" alt="Facebook logo" width="21px">
        </a>

        <button mat-icon-button aria-label="Info dialog" (click)="openInfoDialog()">
            <mat-icon>info</mat-icon>
        </button>

        <a href="https://www.buymeacoffee.com/partitadoppia" target="_blank" class="buy-me-coffee">
            <div>
                <span>🚀</span> <span>Sostienici!</span>
            </div>
        </a>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
