mat-toolbar {
    justify-content: space-between;
}

.toolbar-title {
    display: flex;

    > img {
        margin-right: 8px;
    }
}

.toolbar-credits {
    > a {
        margin: 0 8px;
        margin-top: 9px;
    }

    &:last-of-type {
        display: flex;
        align-items: center;
    }
    .buy-me-coffee {
        margin: 0 0 0 8px;
    }

}

.buy-me-coffee {
    text-decoration: none;
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    font-weight: 600;

    div {
        height: 40px !important;
        width: 140px !important;
        background-color: #fedd04;
        color: black;
        border-radius: 6px;
        padding: 6px 11px;
        box-sizing: border-box;

        span:first-of-type {
            margin-right: 8px;
        }
    }
}
