<ng-template #tableRow let-row="row" let-doubleEntryForm="doubleEntryForm">
    <td>
        <mat-form-field appearance="outline" *ngIf="row.id === doubleEntryForm.get('id')?.value">
            <mat-label>Codice</mat-label>
            <input matInput type="number" [formControl]="doubleEntryForm.get('code')">
        </mat-form-field>
        <span *ngIf="row.id !== doubleEntryForm.get('id')?.value">{{ row.code }}</span>
    </td>
    <td>
        <mat-form-field appearance="outline" *ngIf="row.id === doubleEntryForm.get('id')?.value">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="doubleEntryForm.get('date')">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <span *ngIf="row.id !== doubleEntryForm.get('id')?.value">{{ row.date | date:'dd/MM/YYYY' }}</span>
    </td>
    <td>
        <ng-select appearance="outline"
                   *ngIf="row.id === doubleEntryForm.get('id')?.value"
                   [items]="names"
                   [formControl]="doubleEntryForm.get('name')"
                   addTagText="Aggiungi"
                   [addTag]="true"
                   [appendTo]="'body'"
                   placeholder="Nome"
        >
        </ng-select>
<!--        <mat-form-field appearance="outline" *ngIf="row.id === doubleEntryForm.get('id')?.value">-->
<!--            <mat-label>Nome</mat-label>-->
<!--            <input matInput type="text" [formControl]="doubleEntryForm.get('name')">-->
<!--        </mat-form-field>-->
        <span *ngIf="row.id !== doubleEntryForm.get('id')?.value">{{ row.name }}</span>
    </td>
    <td>
        <mat-form-field appearance="outline" *ngIf="row.id === doubleEntryForm.get('id')?.value">
            <mat-label>Descrizione</mat-label>
            <input matInput type="text" [formControl]="doubleEntryForm.get('description')">
        </mat-form-field>
        <span *ngIf="row.id !== doubleEntryForm.get('id')?.value">{{ row.description }}</span>
    </td>
    <td class="numeric-values">
        <mat-form-field appearance="outline" *ngIf="row.id === doubleEntryForm.get('id')?.value">
            <mat-label>Dare</mat-label>
            <input matInput type="number" [formControl]="doubleEntryForm.get('give')">
        </mat-form-field>
        <span *ngIf="row.id !== doubleEntryForm.get('id')?.value">{{ row.give | currency:'EUR':'symbol':'0.2-2':'it-IT' }}</span>
    </td>
    <td class="numeric-values">
        <mat-form-field appearance="outline" *ngIf="row.id === doubleEntryForm.get('id')?.value">
            <mat-label>Avere</mat-label>
            <input matInput type="number" [formControl]="doubleEntryForm.get('take')">
        </mat-form-field>
        <span *ngIf="row.id !== doubleEntryForm.get('id')?.value">{{ row.take | currency:'EUR':'symbol':'0.2-2':'it-IT' }}</span>
    </td>
    <td class="actions-cell">
        <button type="submit" mat-icon-button color="primary" *ngIf="row.id === doubleEntryForm.get('id')?.value && row.id" (click)="confirmRow(doubleEntryForm)">
            <mat-icon aria-hidden="false">save</mat-icon>
        </button>
        <button type="button" mat-icon-button color="primary" *ngIf="row.id === doubleEntryForm.get('id')?.value && row.id" (click)="toggleEditMode(doubleEntryForm)">
            <mat-icon aria-hidden="false">close</mat-icon>
        </button>
        <button type="submit" mat-icon-button color="primary" *ngIf="row.id === doubleEntryForm.get('id')?.value && !row.id" (click)="confirmRow(doubleEntryForm)">
            <mat-icon aria-hidden="false">add</mat-icon>
        </button>
        <button type="button" mat-icon-button color="primary" *ngIf="row.id !== doubleEntryForm.get('id')?.value" (click)="toggleEditMode(doubleEntryForm, row)">
            <mat-icon aria-hidden="false">edit</mat-icon>
        </button>
        <button type="button" mat-icon-button color="primary" *ngIf="row.id !== doubleEntryForm.get('id')?.value" (click)="deleteRow(row)">
            <mat-icon aria-hidden="false">delete</mat-icon>
        </button>
        <button type="button" mat-icon-button color="primary" *ngIf="row.id !== doubleEntryForm.get('id')?.value" (click)="checkGroup(row)">
            <mat-icon aria-hidden="false">check</mat-icon>
        </button>
    </td>
</ng-template>

<main>
    <form [formGroup]="doubleEntryForm">
        <table class="mat-elevation-z8 w-100">
            <thead>
                <tr>
                    <th>Codice</th>
                    <th>Data</th>
                    <th>Nome</th>
                    <th>Descrizione</th>
                    <th class="numeric-values">Dare</th>
                    <th class="numeric-values">Avere</th>
                    <th class="actions-cell"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of doubleEntry" class="{{ row.hasBeenBalanced ? 'balanced-row' : null }}">
                    <ng-template *ngTemplateOutlet="tableRow; context: { row: row, doubleEntryForm: doubleEntryForm }"></ng-template>
                </tr>
                <tr *ngIf="doubleEntryForm.get('id')?.value === null">
                    <ng-template *ngTemplateOutlet="tableRow; context: { row: { id: null }, doubleEntryForm: doubleEntryForm }"></ng-template>
                </tr>
            </tbody>
        </table>
    </form>

    <br>

    <button class="mr-1" mat-raised-button color="primary" routerLink="print">
        <mat-icon aria-hidden="false" style="top: -1px; position: relative; left: -1px;">print</mat-icon>
        Stampa
    </button>
    <button class="mr-1" mat-raised-button color="primary" (click)="downloadData()">
        <mat-icon aria-hidden="false" style="top: -1px; position: relative; left: -1px;">file_download</mat-icon>
        Scarica progetto
        <a id="downloadAnchorElem"></a>
    </button>
    <button mat-raised-button color="primary" (click)="importData()">
        <mat-icon aria-hidden="false" style="top: -1px; position: relative; left: -1px;">publish</mat-icon>
        Importa progetto
    </button>
    <button mat-raised-button color="warn" (click)="reset()" class="float-right">
        <mat-icon aria-hidden="false" style="top: -1px; position: relative; left: -1px;">delete_forever</mat-icon>
        Reset
    </button>
</main>

<!--        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->
<!--            <ng-container matColumnDef="code">-->
<!--                <mat-header-cell *matHeaderCellDef>Codice</mat-header-cell>-->
<!--                <mat-cell *matCellDef="let row">-->
<!--                    <mat-form-field appearance="outline" *ngIf="row.id === doubleEntryForm.get('id')?.value">-->
<!--                        <mat-label>Codice</mat-label>-->
<!--                        <input matInput type="number" formControlName="code">-->
<!--                    </mat-form-field>-->
<!--                    <span *ngIf="row.id !== doubleEntryForm.get('id')?.value">{{ row.code }}</span>-->
<!--                </mat-cell>-->
<!--            </ng-container>-->
<!--            <ng-container matColumnDef="date">-->
<!--                <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>-->
<!--                <mat-cell *matCellDef="let row">-->
<!--                    <mat-form-field appearance="outline" *ngIf="row.id === doubleEntryForm.get('id')?.value">-->
<!--                        <mat-label>Data</mat-label>-->
<!--                        <input matInput [matDatepicker]="picker" formControlName="date">-->
<!--                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--                        <mat-datepicker #picker></mat-datepicker>-->
<!--                    </mat-form-field>-->
<!--                    <span *ngIf="row.id !== doubleEntryForm.get('id')?.value">{{ row.date | date:'dd/MM/YYYY' }}</span>-->
<!--                </mat-cell>-->
<!--            </ng-container>-->
<!--            <ng-container matColumnDef="name">-->
<!--                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>-->
<!--                <mat-cell *matCellDef="let row">-->
<!--        &lt;!&ndash;                        <ng-select appearance="outline"&ndash;&gt;-->
<!--        &lt;!&ndash;                                   *ngIf="row.id === doubleEntryForm.get('id')?.value"&ndash;&gt;-->
<!--        &lt;!&ndash;                                   [items]="names"&ndash;&gt;-->
<!--        &lt;!&ndash;                                   [(ngModel)]="row.name">&ndash;&gt;-->
<!--        &lt;!&ndash;                        </ng-select>&ndash;&gt;-->
<!--                    <mat-form-field appearance="outline" *ngIf="row.id === doubleEntryForm.get('id')?.value">-->
<!--                        <mat-label>Nome</mat-label>-->
<!--                        <input matInput type="text" formControlName="name">-->
<!--                    </mat-form-field>-->
<!--                    <span *ngIf="row.id !== doubleEntryForm.get('id')?.value">{{ row.name }}</span>-->
<!--                </mat-cell>-->
<!--            </ng-container>-->
<!--            <ng-container matColumnDef="description">-->
<!--                <mat-header-cell *matHeaderCellDef>Descrizione</mat-header-cell>-->
<!--                <mat-cell *matCellDef="let row">-->
<!--                    <mat-form-field appearance="outline" *ngIf="row.id === doubleEntryForm.get('id')?.value">-->
<!--                        <mat-label>Descrizione</mat-label>-->
<!--                        <input matInput type="text" formControlName="description">-->
<!--                    </mat-form-field>-->
<!--                    <span *ngIf="row.id !== doubleEntryForm.get('id')?.value">{{ row.description }}</span>-->
<!--                </mat-cell>-->
<!--            </ng-container>-->
<!--            <ng-container matColumnDef="give">-->
<!--                <mat-header-cell *matHeaderCellDef class="numeric-values">Dare</mat-header-cell>-->
<!--                <mat-cell *matCellDef="let row" class="numeric-values">-->
<!--                    <mat-form-field appearance="outline" *ngIf="row.id === doubleEntryForm.get('id')?.value">-->
<!--                        <mat-label>Dare</mat-label>-->
<!--                        <input matInput type="number" formControlName="give">-->
<!--                    </mat-form-field>-->
<!--                    <span *ngIf="row.id !== doubleEntryForm.get('id')?.value">{{ row.give | currency:'EUR':'symbol':'0.2-2':'it-IT' }}</span>-->
<!--                </mat-cell>-->
<!--            </ng-container>-->
<!--            <ng-container matColumnDef="take">-->
<!--                <mat-header-cell *matHeaderCellDef class="numeric-values">Avere</mat-header-cell>-->
<!--                <mat-cell *matCellDef="let row" class="numeric-values">-->
<!--                    <mat-form-field appearance="outline" *ngIf="row.id === doubleEntryForm.get('id')?.value">-->
<!--                        <mat-label>Avere</mat-label>-->
<!--                        <input matInput type="number" formControlName="take">-->
<!--                    </mat-form-field>-->
<!--                    <span *ngIf="row.id !== doubleEntryForm.get('id')?.value">{{ row.take | currency:'EUR':'symbol':'0.2-2':'it-IT' }}</span>-->
<!--                </mat-cell>-->
<!--            </ng-container>-->
<!--            <ng-container matColumnDef="actions">-->
<!--                <mat-header-cell *matHeaderCellDef class="numeric-values">Azioni</mat-header-cell>-->
<!--                <mat-cell *matCellDef="let row" class="numeric-values">-->
<!--                    <button type="submit" mat-icon-button color="primary" *ngIf="row.id === doubleEntryForm.get('id')?.value && row.id" (click)="confirmRow(doubleEntryForm)">-->
<!--                        <mat-icon aria-hidden="false">save</mat-icon>-->
<!--                    </button>-->
<!--                        <button type="button" mat-icon-button color="primary" *ngIf="row.id === doubleEntryForm.get('id')?.value && row.id" (click)="discardEditRow(row, doubleEntryForm)">-->
<!--                        <mat-icon aria-hidden="false">close</mat-icon>-->
<!--                    </button>-->
<!--                    <button type="submit" mat-icon-button color="primary" *ngIf="row.id === doubleEntryForm.get('id')?.value && !row.id" (click)="confirmRow(doubleEntryForm)">-->
<!--                        <mat-icon aria-hidden="false">add</mat-icon>-->
<!--                    </button>-->
<!--                        <button type="button" mat-icon-button color="primary" *ngIf="row.id !== doubleEntryForm.get('id')?.value" (click)="editRow(row, doubleEntryForm)">-->
<!--                        <mat-icon aria-hidden="false">edit</mat-icon>-->
<!--                    </button>-->
<!--                    <button type="button" mat-icon-button color="primary" *ngIf="row.id !== doubleEntryForm.get('id')?.value" (click)="deleteRow(row)">-->
<!--                        <mat-icon aria-hidden="false">delete</mat-icon>-->
<!--                    </button>-->
<!--                    <button type="button" mat-icon-button color="primary" *ngIf="row.id !== doubleEntryForm.get('id')?.value" (click)="checkGroup(row)">-->
<!--                        <mat-icon aria-hidden="false">check</mat-icon>-->
<!--                    </button>-->
<!--                </mat-cell>-->
<!--            </ng-container>-->

<!--            <mat-header-row *matHeaderRowDef="['code', 'date', 'name', 'description', 'give', 'take', 'actions']"></mat-header-row>-->
<!--            <mat-row-->
<!--                *matRowDef="let row; columns: ['code', 'date', 'name', 'description', 'give', 'take', 'actions']"-->
<!--                class="{{ row.hasBeenBalanced ? 'balanced-row' : null }}"-->
<!--            ></mat-row>-->
<!--        </mat-table>-->
