.ng-select {
    min-width: 10vw;
}

form {
    overflow-x: auto;
}

::ng-deep mat-card-header {
    max-width: 362px;
}

::ng-deep mat-card {
    page-break-inside: avoid;
}

@media print {
    button,
    mat-header-cell:last-of-type,
    mat-cell:last-of-type,
    mat-row:last-of-type,
    mat-toolbar {
        display: none;
    }

    #variations-table-head mat-icon {
        display: none;
    }
}

#variations-table-head {
    span {
        top: 0;
        position: relative;
        margin-right: 5px;
    }

    mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
        margin-top: -4px;
    }
}

@media (screen and min-width: 791px) {
    #variations-table-head {
        span {
            top: -4px;
        }

        mat-icon {
            margin-top: 5px;
        }
    }
}
