html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
    padding: 25px;
}

.balanced-row {
    border-bottom: 3px solid green;
}

.numeric-values {
    justify-content: flex-end;
}
