.mat-form-field ng-select {
    padding-bottom: 0;

    .ng-select-container {
        min-height: 54.8px !important;

        .ng-value-container .ng-input {
            top: 50%;
            transform: translate(0, -50%);
            padding: 0 45px 0 10px;
            bottom: initial;
        }
    }

    &:not(.ng-select-opened) > div:not(.ng-has-value) {
        .ng-value-container {
            padding-top: 12px !important;
        }
    }
}
