table.de-table {
    font-family: Roboto,Helvetica Neue,sans-serif;
    width: 100%;
    border-collapse: collapse;

    > thead tr,
    > tbody tr {
        border-width: 0;
        border-bottom-width: 1px;
        border-style: solid;
        box-sizing: border-box;
        border-bottom-color: rgba(0,0,0,.12);
    }

    > thead tr {
        th {
            color: rgba(0,0,0,.54);
            font-size: 12px;
            font-weight: 500;
            height: 56px;
            text-align: left;
        }
    }

    > * > * > td,
    > * > * > th {
        overflow: visible;
        word-wrap: break-word;
        min-height: inherit;

        padding: 0 10px 0 10px;

        &:first-of-type {
            padding-left: 24px;
        }

        &.no-padding {
            padding: 0;
        }
    }

    .balanced-row,
    .unbalanced-row {
        border-bottom-width: 3px;
        border-bottom-style: solid;

        .actions-cell .faded-icon {
            opacity: 1;
        }
    }

    .balanced-row {
        border-bottom-color: green;
    }

    .unbalanced-row {
        border-bottom-color: red;
    }

    .actions-cell {
        min-width: 120px;
    }

    .drag-handle {
        cursor: ns-resize;
        margin-top: 6px;
    }

}

@media print {
    table.de-table {
        > * > * > td,
        > * > * > th {
            padding: 5px 10px;

            &:last-of-type {
                display: none;
            }
        }
    }
}
